<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myapplicationdev.android.l8pslocatingaplace">

    <!--    1•	android.permission.WRITE_EXTERNAL_STORAGE - Allows the API to cache map tile data-->
    <!--    in the device's external storage area.-->
    <!--    2•	android.permission.ACCESS_FINE_LOCATION - Allows the API to use the -->
    <!--    Global Positioning System (GPS) to determine the device's location to within a very small area.-->
    <!--    3•	android.permission.ACCESS_COARSE_LOCATION - Allows the API to use Wi-Fi -->
    <!--    or mobile cell data (or both) to determine the device's location.-->
    <!--    4•	android.permission.ACCESS_LOCATION_EXTRA_COMMANDS - Allows an application to access-->
    <!--    extra location provider commands-->
    <!--    5•	android.permission.ACCESS_NETWORK_STATE - Allows the API to check -->
    <!--    the connection status in order to determine whether data can be downloaded.-->
    <!--    6•	android.permission.INTERNET - Used by the API to download map tiles-->
    <!--    from Google Maps servers.-->

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.L8PSLocatingAPlace">

        <!--       TODO 5.Add your API key generated earlier into the AndroidManifest.xml as shown below.-->
        <!--        It will be used to authenticate the access to the Google Maps services.-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNOQxgZ341kOqIOw3qG6sXRtWQBOWoye8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>